/**
 * @name GentooDiscord
 * @description Allows you to customize Discord's native Color Scheme.
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @BDEditor DiscordRecolor
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');

:root {
  --accentcolor: 73,29,19;
  --accentcolor2: 73,29,19;
  --linkcolor: 120,54,39;
  --mentioncolor: 73,29,19;
  --textbrightest: 214,209,205;
  --textbrighter: 79,31,20;
  --textbright: 214,209,205;
  --textdark: 73,29,19;
  --textdarker: 73,29,19;
  --textdarkest: 73,29,19;
  --font: gg sans;
  --backgroundaccent: 73,29,19;
  --backgroundprimary: 15,9,8;
  --backgroundsecondary: 15,9,8;
  --backgroundsecondaryalt: 15,9,8;
  --backgroundtertiary: 15,9,8;
  --backgroundfloating: 15,9,8;
  --settingsicons: 1;
  --rs-small-spacing: 0px;
  --rs-medium-spacing: 3px;
  --rs-large-spacing: 4px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #D6D1CD;
  --rs-idle-color: #491D13;
  --rs-dnd-color: #261512;
  --rs-offline-color: #0F0908;
  --rs-streaming-color: #491D13;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


